.search {
  display: flex;
}

.search__case {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  max-height: 222px;
  padding: 74px 70px 10px;
  margin: 0 auto;
  background-color: #FAFAFA;
  }

.search__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 72px;
  background-color: #F4F4F4;
  border-radius: 8px;
}

.search__error-message {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  margin: 5px auto 0;
  padding: 0;
  color:  #EE3465;
}

.search__line {
  margin-top: 69px;
  padding: 0;
}

.search__line_item {
  border: 1px solid #E8E8E8;
  margin: 0;
  padding: 0;
}

.search__lens {
  width: 34px;
  height: 34px;
  margin: 19px 10px 19px 19px;
  font-size: 0;
}

.search__input {
  flex-grow: 1;
  margin: 9px 0;
  padding: 16px 0 16px;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  background-color: #F4F4F4;
  border: none;
}

.search__button {
  border: none;
  width: 34px;
  height: 34px;
  margin-left: 46px;
  margin-right: 30px;;
  background-image: url("../../images/go-arrow.svg");
  cursor: pointer;
}

.search__button:hover {
  opacity: .6;
  transition: opacity .3s ease-in-out;
}

@media (max-width: 794px) {
  .search__case {
    padding: 80px 30px 10px;
    max-height: 272px;
  }

  .search__button {
    margin-right: 19px;
  }

  .search__line {
    margin-top: 110px;
  }
}

@media (max-width: 714px) {
  .search__line {
    margin-top: 109px;
  }
}

@media (max-width: 698px) {
  .search__button {
    margin-right: 20px;
  }
}

@media (max-width: 670px) {
  .search__input {
    padding-left: 19px;
    margin-right: 19px;
  }

  .search__lens {
    display: none;
  }
}

@media (max-width: 460px) {
  .search__case {
    padding: 80px 10px 10px;
  }

  .search__input {
    font-size: 14px;
    line-height: 20px;
    padding-left: 20px;
  }

  .search__button {
    margin-left: 32px;
    margin-right: 8px;
  }
}

@media (max-width: 354px) {
  .search__input {
    max-width: 180px;
    padding-left: 6px;
  }
}

