.about-me {
  display: flex;
}

.about-me__case {
  display: grid;
  grid-template-areas: "title title" "description image";
  grid-gap: 49px;
  grid-row-gap: 66px;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 100px 70px 0;
  padding-top: 110px;
}

.about-me__title {
  grid-area: title;
  margin: 0;
  padding: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid #000000;
  letter-spacing: -0.04em;
  width: 100%;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  color: #000;
}

.about-me__description {
  display: grid;
  grid-area: description;
  grid-template-rows: repeat(3, max-content) 1fr;
}

.about-me__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
  color: #000000;
}

.about-me__name-subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  color: #000000;
}

.about-me__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  max-width: 600px;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  color: #000000;
}

.about-me__list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 20px;
  align-self: end;
  margin: 0;
  padding: 0;
}

.about-me__list-item {
  display: block;
}

.about-me__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  color: #000000;
  transition: opacity 0.5s;
}

.about-me__link:hover {
  opacity: 0.4;
}

.about-me__image {
  min-width: 255px;
  width: 100%;
  border-radius: 10px;
  grid-area: image;
  justify-self: end;
}

@media (max-width: 768px) {
  .about-me__case {
    padding: 88px 50px 0 50px;
    max-width: 768px;
    grid-gap: 50px;
    grid-row-gap: 66px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__name-subtitle {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
    padding-top: 20px;
  }

  .about-me__image {
    max-width: 255px;
  }
}

@media (max-width: 620px) {
  .about-me__list-item {
    margin-top: 20px;
  }
}

@media (max-width: 520px) {
  .about-me__case {
    grid-template-areas: "title" "image" "description";
    padding: 68px 14px 0 14px;
    max-width: 480px;
    grid-row-gap: 36px;
  }

  .about-me__image {
    justify-self: center;
  }
}

@media (max-width: 420px) {
  .about-me__case {
    grid-template-areas: "title" "image" "description";
    padding: 68px 14px 0 14px;
    max-width: 320px;
    grid-row-gap: 36px;
  }
}

@media (max-width: 320px) {
  .about-me__case {
    grid-template-areas: "title" "image" "description";
    padding: 68px 14px 0 14px;
    grid-row-gap: 36px;
  }

  .about-me__title {
    font-size: 18px;
    padding-bottom: 24px;
  }

  .about-me__name-subtitle {
    padding-top: 18px;
    font-size: 11px;
  }

  .about-me__text {
    padding-top: 18px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__description {
    display: flex;
    flex-direction: column;
  }

  .about-me__image {
    max-width: 292px;
    margin-top: 24px;
  }

  .about-me__name {
    font-size: 30px;
  }

  .about-me__list-item {
    padding-top: 40px;
    padding-right: 226px;
    margin: 0;
  }
}

